<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets xsi:type="AsyncWrapper">
        <!--保存至文件-->
        <target fileName="${basedir}/log/rk/Rk223A${date:format=yyyyMMdd}.txt" layout="${longdate} [${level}] ${callsite} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" name="Rk223A" xsi:type="File"/>
        <target fileName="${basedir}/log/rk/Rk223AB${date:format=yyyyMMdd}.txt" layout="${longdate} [${level}] ${callsite} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" name="Rk223AB" xsi:type="File"/>
        <target fileName="${basedir}/log/rk/Rk223AC${date:format=yyyyMMdd}.txt" layout="${longdate} [${level}] ${callsite} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" name="Rk223AC" xsi:type="File"/>
        <target fileName="${basedir}/log/rk/Rk223AM${date:format=yyyyMMdd}.txt" layout="${longdate} [${level}] ${callsite} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" name="Rk223AM" xsi:type="File"/>
        <target fileName="${basedir}/log/rk/Rk223AS${date:format=yyyyMMdd}.txt" layout="${longdate} [${level}] ${callsite} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" name="Rk223AS" xsi:type="File"/>
        <target fileName="${basedir}/log/rk/Rk223ASC${date:format=yyyyMMdd}.txt" layout="${longdate} [${level}] ${callsite} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" name="Rk223ASC" xsi:type="File"/>
        <target fileName="${basedir}/log/rk/Rk223ASM${date:format=yyyyMMdd}.txt" layout="${longdate} [${level}] ${callsite} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" name="Rk223ASM" xsi:type="File"/>
        <target fileName="${basedir}/log/rk/Rk223Common${date:format=yyyyMMdd}.txt" layout="${longdate} [${level}] ${callsite} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" name="Rk223Common" xsi:type="File"/>
        <target fileName="${basedir}/log/rk/Rk223N${date:format=yyyyMMdd}.txt" layout="${longdate} [${level}] ${callsite} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" name="Rk223N" xsi:type="File"/>
        <target fileName="${basedir}/log/rk/Rk223NC${date:format=yyyyMMdd}.txt" layout="${longdate} [${level}] ${callsite} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" name="Rk223NC" xsi:type="File"/>
        <target fileName="${basedir}/log/rk/Rk223NM${date:format=yyyyMMdd}.txt" layout="${longdate} [${level}] ${callsite} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" name="Rk223NM" xsi:type="File"/>
        <target fileName="${basedir}/log/rk/Rk223NS${date:format=yyyyMMdd}.txt" layout="${longdate} [${level}] ${callsite} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" name="Rk223NS" xsi:type="File"/>
        <target fileName="${basedir}/log/rk/Rk223NSC${date:format=yyyyMMdd}.txt" layout="${longdate} [${level}] ${callsite} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" name="Rk223NSC" xsi:type="File"/>
        <target fileName="${basedir}/log/rk/Rk223Tax${date:format=yyyyMMdd}.txt" layout="${longdate} [${level}] ${callsite} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" name="Rk223Tax" xsi:type="File"/>
        <!--输出至Debugger-->
        <target layout="NLog: ${date:format=HH\:mm\:ss} | ${message}" name="debugger" xsi:type="Debugger"/>
        <!--输出至控制台-->
        <target layout="${longdate} ${message} ${exception:format=tostring}" name="console" xsi:type="ColoredConsole"/>
        <!--输出至邮件-->
        <!--<target xsi:type="Mail" name="infoMail"
            smtpServer="smtp.163.com"
            smtpPort="25"
            smtpAuthentication="Basic"
            smtpUserName="deno@163.com"
            smtpPassword="demo"
            enableSsl="true"
            addNewLines="true"
            from="demo@163.com"
            to="demo@qq.com"
            subject="Project Exception Mail"
            header="*********************"
            body="${longdate} | ${message} "
            footer="*********************"/>-->
    </targets>
    <rules>
        <logger name="Rk223A" writeTo="Rk223A"/>
        <logger name="Rk223AB" writeTo="Rk223AB"/>
        <logger name="Rk223AC" writeTo="Rk223AC"/>
        <logger name="Rk223AM" writeTo="Rk223AM"/>
        <logger name="Rk223AS" writeTo="Rk223AS"/>
        <logger name="Rk223ASC" writeTo="Rk223ASC"/>
        <logger name="Rk223ASM" writeTo="Rk223ASM"/>
        <logger name="Rk223Common" writeTo="Rk223Common"/>
        <logger name="Rk223N" writeTo="Rk223N"/>
        <logger name="Rk223NC" writeTo="Rk223NC"/>
        <logger name="Rk223NM" writeTo="Rk223NM"/>
        <logger name="Rk223NS" writeTo="Rk223NS"/>
        <logger name="Rk223NSC" writeTo="Rk223NSC"/>
        <logger name="Rk223Tax" writeTo="Rk223Tax"/>
    </rules>
</nlog>