<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets xsi:type="AsyncWrapper">
    <!--保存至文件-->
    <target fileName="${basedir}/log/${date:format=yyyyMMdd}.txt" 
            layout="${longdate} [${level}] ${callsite} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" 
            name="CC" xsi:type="File"/>
    
    <!--输出至Debugger-->
    <target layout="NLog: ${date:format=HH\:mm\:ss} | ${message}" name="debugger" xsi:type="Debugger"/>
    <!--输出至控制台-->
    <target layout="${longdate} ${message} ${exception:format=tostring}" name="console" xsi:type="ColoredConsole"/>
    <!--输出至邮件-->
    
  </targets>
  <rules>
    <logger name="CC" writeTo="CC"/>
  </rules>
</nlog>
